<form [formGroup]="serviceSetForm" (ngSubmit)="onSubmit()" class="container">

  <div *ngFor="let opt of setFile" [class]="opt.type">

    <div [ngSwitch]="opt.type">

      <section *ngSwitchCase="'text'">
        <mat-form-field class="input_place">
            <input  matInput type="text"
            [id]="opt.key" [formControlName]="opt.key"
            [placeholder]="opt.placeholder">
        </mat-form-field>
      </section>

      <section *ngSwitchCase="'email'">
        <mat-form-field class="input_place">
            <input  matInput type='email'
            [id]="opt.key" [formControlName]="opt.key"
            [placeholder]="opt.placeholder"
            pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
            >
        </mat-form-field>
      </section>

      <section *ngSwitchCase="'checkbox'" class='checkbox'>
        <mat-checkbox [formControlName]="opt.key" [value]="opt.value"
        [checked]="opt.checked">{{opt.label}}</mat-checkbox>
      </section>



      <section *ngSwitchCase="'sliderbar'">
        <div> {{opt.label}}</div>
        <mat-slider [formControlName]="opt.key" [min]="opt.min"
        [max]="opt.max" [step]="1" class="sliderbar_place" thumbLabel>
        </mat-slider>
      </section>

      <section *ngSwitchCase="'select'" class="select">
        <div>{{opt.label}}</div>
        <mat-form-field class="select_place">
          <mat-select [formControlName]="opt.key">
            <mat-option *ngFor="let item of opt.options" [value]="item.value">
              {{item.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section *ngSwitchCase="'radio'">
        <div>{{opt.label}}</div>
        <mat-radio-group [formControlName]="opt.key">
            <mat-radio-button
            *ngFor="let item of opt.options"
            [value]="item.value" [checked]="item.checked">
              {{item.title}}
            </mat-radio-button>
        </mat-radio-group>
      </section>

      <section *ngSwitchCase="'slidetoggle'">
        <mat-slide-toggle [formControlName]="opt.key" [checked]="opt.value">
            {{opt.label}}
        </mat-slide-toggle>
      </section>
    </div>

  </div>

  <button mat-raised-button class="save_btn" type="submit">
    Save
  </button>
  <p>Form: {{serviceSetForm.value | json}}</p>
  <p>Form: {{serviceSetForm.status}}</p>
</form>
