<form [formGroup]="serviceSetForm" (ngSubmit)="onSubmit()" class="container">

  <div *ngFor="let opt of setFile" class="ngfor">

    <div [ngSwitch]="opt.type" class="switch">

      <section *ngSwitchCase="'text'" class="case">
        <div class="input">
          <mat-form-field>
              <input  matInput type="text"
              [id]="opt.key" [formControlName]="opt.key"
              [placeholder]="opt.placeholder">
          </mat-form-field>
        </div>
      </section>

      <section *ngSwitchCase="'email'">
        <mat-form-field>
            <input  matInput type='email'
            [id]="opt.key" [formControlName]="opt.key"
            [placeholder]="opt.placeholder"
            pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
            >

        </mat-form-field>
      </section>

      <section *ngSwitchCase="'checkbox'">
        <div>{{opt.label}}</div>
        <mat-checkbox [formControlName]="opt.key" [value]="opt.value"
        [checked]="opt.checked">{{opt.name}}</mat-checkbox>
      </section>



      <section *ngSwitchCase="'sliderbar'">
        <div> {{opt.label}}</div>
        <mat-slider [formControlName]="opt.key" [min]="opt.min"
        [max]="opt.max" [step]="1" thumbLabel></mat-slider>
      </section>

      <section *ngSwitchCase="'select'">
        <div>{{opt.label}}</div>
        <mat-select [formControlName]="opt.key">
          <mat-option *ngFor="let item of opt.options" [value]="item.value">
            {{item.title}}
          </mat-option>
        </mat-select>
      </section>

      <section *ngSwitchCase="'radio'">
        <div>{{opt.label}}</div>
        <mat-radio-group [formControlName]="opt.key">
            <mat-radio-button
            *ngFor="let item of opt.options"
            [value]="item.value" [checked]="item.checked">
              {{item.title}}
            </mat-radio-button>
        </mat-radio-group>
      </section>

      <section *ngSwitchCase="'slidetoggle'">
        <mat-slide-toggle [formControlName]="opt.key" [checked]="opt.value">
            {{opt.label}}
        </mat-slide-toggle>
      </section>
    </div>

  </div>

  <button mat-raised-button class="primary" type="submit">
    Save
  </button>
  <p>Form: {{serviceSetForm.value | json}}</p>
  <p>Form: {{serviceSetForm.status}}</p>
</form>
