.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  justify-items: left;
  align-items: center;
}


.text, .email, .radio, .sliderbar {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
}

.checkbox, .slidetoggle {
  grid-column-start: 2;
  grid-column-end: 3;
}

.select {
  grid-column-start: 2;
  grid-column-end: 4;
}

.save_btn {
  grid-column-start: 2;
  grid-column-end: 3;
}

.input {
  width: 400px;
}

.input_place, .sliderbar_place,
.select_place {
  width: 100%;
}
