
<div class="container">

  <div class="service">
    <mat-list>
      <mat-list-item>
        <img matListAvatar src="assets/angular.jpg" />
        <p matLine (click)="getUserData()">Clover</p>
      </mat-list-item>
    </mat-list>

    <mat-expansion-panel expanded="true" *ngIf="newUserFile">
          <mat-expansion-panel-header>
            已購買服務
          </mat-expansion-panel-header>

          <mat-nav-list *ngFor="let serv of newUserFile.serviceList">
            <mat-list-item  [id]="serv.name" (click)="setService(serv.name)">
              <mat-icon>settings</mat-icon>
              {{serv.title}}
            </mat-list-item>
          </mat-nav-list>
    </mat-expansion-panel>
  </div>

  <div class="setting" *ngIf='settingFile.length > 0'>
    <app-service-setting-page [setFile]=settingFile ></app-service-setting-page>
  </div>

</div>
