
<div class="container">

  <div class="service">
  <mat-list>
    <mat-list-item>
      <img matListAvatar src="assets/angular.jpg" />
      <p matLine (click)="getUserData()">Clover</p>
    </mat-list-item>
  </mat-list>

  <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        已購買服務
      </mat-expansion-panel-header>

      <mat-nav-list>
        <mat-list-item (click)="dashcam()" id="dashcam">
          <mat-icon>settings</mat-icon>
          Dash Cam
        </mat-list-item>

        <mat-list-item (click)="babycam()" id="babycam">
          <mat-icon>settings</mat-icon>
          Baby Cam
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </div>

  <div class="setting">
  </div>

</div>
